.li-message {
    position: relative;
    .tooltip {
        display: none;
        position: absolute;
        z-index: 1;
        height: 2.5rem;
    }

    &:hover .tooltip {
        right: 2rem;
        top: -1.25rem;
        left: auto;
        background-color: #36393f;
        width: 8rem;
        display: flex;
        align-items: center;
        border-radius: 0.2rem;
        .tooltip-icon {
            height: 100%;
            display: flex;
            align-items: center;
            img {
                filter: invert(85%) sepia(4%) saturate(155%) hue-rotate(177deg)
                    brightness(89%) contrast(89%);
                height: 2rem;
                padding: 0.3rem;
            }
            &:hover {
                background-color: #4f545c99;
                img {
                    filter: invert(100%) sepia(0%) saturate(7500%)
                        hue-rotate(80deg) brightness(117%) contrast(119%);
                }
            }
        }
    }
}
