@import "primereact/resources/themes/saga-blue/theme";
@import "primereact/resources/primereact";
@import "primeicons/primeicons.css";

html {
    font-size: 10px;
    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
            "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
            "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: #202225;
        .App {
            min-height: 100vh;
            display: flex;
            // flex-direction: column;
        }
    }

    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
            monospace;
    }
}
